body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}

ul,
li {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  /* width: 1158px; */
  width: 288px;
  margin: 0 auto;
  /* padding: 0 15px 0 15px; */
  padding: 0 1px 0 1px;
}

.section {
  /* padding: 120px 0; */
  padding: 96px 0;
}

/* ------------------Header----------------- */
.header {
  border-bottom: 1px solid #e7e9fc;
  /* padding: 24px 0; */
  padding: 16px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* margin-right: 76px; */
}

.logo-part {
  color: #2e2f42;
}

.logo-studio:hover,
.logo-studio:focus {
  color: #404bbf;
}

.navigation-panel {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}

.navigation-item {
  padding: 24px 0 26px 0;
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item:hover,
.navigation-item:focus {
  color: #404bbf;
}

.navigation-item.active {
  color: #404bbf;
}

.navigation-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #4d5ae5;
  border-radius: 2px;
  bottom: -1px;
  background-color: #404bbf;
}

.contact-list {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.contact-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero-banner {
  background-color: #2e2f42;
  text-align: center;
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding-top: 72px;
  padding-bottom: 72px;

  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* max-width: 1440px; */
  max-width: 320px;
  background-position: center;
}

.hero-title {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
  max-width: 216px;

  /* font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px; */
  /* margin-bottom: 48px; */
  margin: 0 auto;
  margin-bottom: 72px;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  border: none;
  margin: 0 auto;

  display: block;
  min-width: 169px;
  box-sizing: border-box;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/*------------- FEATURES----------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-icons {
  padding: 24px 100px;
  border: solid 1px #8e8f99;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
}

.features-content {
  display: flex;
  /* <<<<<mobile>>>>> */
  flex-direction: column;
  /* <<<<<mobile>>>>> */

  /* gap: 24px; */
  gap: 72px;
  padding: 0;
  margin: 0;
}

.features-text {
  flex: 1;
  /* min-width: 264px; */
  min-width: 288px;
}

.features-title {
  color: #2e2f42;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
  margin-bottom: 8px;

  /* font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em; */
}

.features-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  max-width: 288px;

  /* line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px; */
}

/* ------------------OUR TEAM ----------------- */
.our-team {
  background-color: #f4f4fd;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;

  /* flex-direction: row;
  gap: 24px; */
}

.team-card {
  box-sizing: border-box;

  width: 264px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card:hover .social-link-icons {
  background-color: #404bbf;
}

.team-member-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-member-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.member-info {
  padding: 32px 0;
}

.social-links-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  padding-left: 0;
  list-style: none;
}

.social-link-icons {
  padding: 12px 12px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icons:hover,
.social-link-icons:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

/* --------------------OUR PORTFOLIO--------------- */
.our-portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-portfolio-cards {
  display: flex;
  flex-direction: column;
  gap: 48px;

  /* flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px; */
}

.our-portfolio-card {
  /* width: calc((100% - 48px) / 3); */

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-card:hover .overlay-text {
  transform: translateY(0%);
}

.our-portfolio-card:hover {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.our-portfolio-card-text {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-example {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.protfolio-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-image {
}

/* ------------------------FOOTER-------------------- */
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02px;
  /*не знаю нахуя оно было margin-top: 16px; */
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

/* .footer-text-block {
  width: 266px;
  margin-right: 120px;
} */

.footer-container {
  display: flex;

  flex-direction: column;
  gap: 72px;
  align-items: center;

  align-items: center;
  padding: 0 15px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-part {
  color: #f4f4fd;
}

.logo-studio-footer {
  color: #f4f4fd;
  letter-spacing: 0.03em;
}

.logo-studio-footer:hover,
.logo-studio-footer:focus {
  color: #404bbf;
}

.footer-socials,
.footer-subscribe-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* так было в декстопе margin-bottom: 16px; */
}

.socials-footer-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 208px;
  margin-right: 80px;
}

.social-links-icons-footer {
  display: flex;
  gap: 16px;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.social-link-icons-footer {
  padding: 8px 8px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icons-footer:hover,
.social-link-icons-footer:focus {
  background-color: #31d0aa;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: baseline;
}
.footer-text-block {
  text-align: center;
  max-width: 264px;
  min-width: 264px;
}

.footer-icons {
  fill: #f4f4fd;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* flex-direction: row;
  gap: 24px; */
}

.subscribe-container {
  width: 288px;
  /* width: 453px; */
}

.footer-subscribe-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-input {
  display: flex;

  flex-direction: row;
  gap: 24px;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ffffff;
}

.footer-button {
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-send-icon {
  flex-shrink: 0;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}

.footer-send-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* ----------------MODAL----------- */

.modal-overlay {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #fcfcfc;
  width: 408px;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  padding: 72px 24px 24px 24px;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;

  /* ,,,,,,,,,,,,,delete later if need,,,,,,,,,,,, */
  display: none;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.close-modal {
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  background-color: #404bbf;
  border: none;
}

.close-modal:hover .close-modal-svg,
.close-modal:focus .close-modal-svg {
  fill: #ffffff;
}

/* -------------------FORM------------ */

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}

.form-label {
  line-height: 1.17;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.form-input:focus + svg.input-icon,
.form-input:focus + svg.input-icon-person {
  fill: #4d5ae5;
}

/* -----------------TEXTAREA--------------- */
.form-textarea {
  position: relative;
  margin-bottom: 16px;
}

.textarea {
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px; /* 8px зверху, 16px зліва */
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: #4d5ae5;
  color: #2e2f42;
}

/* -------------CHECKBOX------------ */
.checkbox-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.checkbox-container input[type="checkbox"] {
  opacity: 0;
  pointer-events: none;
}

.checkbox-label {
  position: relative;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
}

.checkbox-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  fill: white;
}

.checkbox-container
  input[type="checkbox"]:checked
  + .checkbox-label
  .checkbox-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-container
  input[type="checkbox"]:checked
  + .checkbox-label
  .checkbox-box
  .checkbox-icon {
  display: block;
}

.privacy-policy-link {
  text-decoration: underline;
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin-left: 4px;
  display: inline-flex;
}

.submit-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  border: none;
  margin: 0 auto;

  display: block;
  min-width: 169px;
  box-sizing: border-box;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
